
html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
    color: #000;
}

/* *, *::before, *::after {
    box-sizing: inherit;
} */

/************ Navigation Styles ****************/




nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 1.25em;
}

nav {
    padding: 10px;
    /* background-color: #6d8b70; */
    position: fixed;
    width: 100%;
    @media (min-width: 600px){
        padding: 20px;
    }
}

a {
    text-decoration: none;
    /* color: #0E7A56; */
    color: #6d8b70;
    padding: .5px 15px .5px;
}

a:hover { 
    /* color: rgba(11,92,104,1); */
    color: #fff;
    background-color: #A1B5A3;
}

li:last-child {
    border-right: none;
}

li {
    border-right: 1px #6d8b70 solid;
}

.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/********* Home Styles *******************/




.home-h1 {
    font-size: 3em;
    padding-left: 50px;
}

.home-h2 {
    font-size: 3em;
    padding-right: 50px;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
}

.header-div-one {
    width: 100%;
    /* background-color: #6d8b70; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header-div-two {
    width: 100%;
    /* background-color: #6d8b70; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.home-p1 {
    width: 75%;
    background-color: #6d8b70;
}

.fullstack-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* border-top-left-radius: 45%;
    border-bottom-left-radius: 45%; */
}

/* div.animate__lightSpeedInLeft {
    border-top-right-radius: 45%;
    border-bottom-right-radius: 45%;
} */


/******** About Me **********/

.about-me-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: center;
}

.about-content {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-flow: row nowrap;
}

.about-text {
    max-width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.about-img-div {
max-width: 50%;
}

.about-me-img {
    max-width: 100%;
    height: auto;
}

.skills {
    width: 100%;
    height: 25vh;
    background-color: #6d8b70;
}
